
<div class='container'>
  <div class='row'>
    <button class='search-btn'><%= link_to '書籍を追加する', new_book_path %></button>
  </div>
  <div class='row'>
    <div class="contents">
      <div class='content'>My Library</div>
    </div>
  </div>

<hr>
  <div class='row'>
    <% @books.each do |book| %>
      <div class='col-xs-12 col-lg-4'>
        <%= link_to (image_tag book.image_url, class: 'book-image'), book_reviews_path(book) %></br>
        <p class='book-title'><%= book.title %></p>
        <p class='book-author'><%= book.author %></p>
        <button class='release-btn'><%= button_to '登録解除', book_path(book.id), method: :delete %></button>
      </div>
    <% end %>
  </div>
</div>


