<div class='container'>
<div class='row'>
    <%= form_tag(new_book_path, method: :get, class: 'form-inline') do %>
      <%= text_field_tag :title, @title, class: 'form-control', placeholder:'書籍タイトル', size: 40 %>
      <%= submit_tag '書籍を検索', class: 'btn'%>
    <% end %>
  </div>
</div>

<div class='container'>
  

  <div class='row'>
    <% if @books %>
      <% @books.each do |book| %>
        <div class='col-xs-12 col-lg-4'>
          <img src="<%= book.image_url %>" alt="" class='book-image'>
          <p class='book-title'>
            <%= book.title %></br>
            <%= book.author %>
          </p>
        
          
          <%= form_tag(books_path) do %>
            <%= hidden_field_tag :isbn, book.isbn %>
            <%= submit_tag '登録する', class: 'save-btn' %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>

</div>