<h1>レビュー登録ページ</h1>
<%= link_to '個別書籍ページへ', book_reviews_path %></br>

<%= form_with model: [@book, @review], class: 'form', local: true do |f| %>
  <%= f.label '要約' %></br>
  <%= f.text_field :summary %></br>
  <%= f.label '感想'  %></br>
  <%= f.text_field :impressions %></br>
  <%= f.label 'アクションプラン' %></br>
  <%= f.text_field :plan %></br>
  </br>
  <%= f.submit value: '登録する' %>
<% end %>