<div class='container'>
  <div class='row-menu'>
    <div class='menu-bar'>
    <button class='review-btn'><%= link_to '書籍画面へ', book_reviews_path %></button>
    </div>
  </div>

  <div class='row form-container'>
      <%= form_with model: [@book, @review], class: 'form', local: true do |f| %>
        <div class='col-12'>
          <%= f.label '要約', class: 'label' %></br>
          <%= f.text_area :summary, class: 'form' %></br>
        </div>

        <div class='col-12'>
          <%= f.label '感想', class: 'label' %></br>
          <%= f.text_area :impressions, class: 'form' %></br>
        </div>
        
        <div class='col-12'>
          <%= f.label 'アクションプラン',  class: 'label' %></br>
          <%= f.text_area :plan, class: 'form' %></br>
        </div>

        <div class='submit-form'>
          <%= f.submit value: '登録する', class: 'form-btn' %>
        </div>
      <% end %>

  </div>
</div>