<!DOCTYPE html>
<html lang="en">
  <head>
    <title>BookWorm</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap" rel="stylesheet">
  </head>

  <body>
    <header>
      <div class="right-bar">
        <a href="/"><img src=<%= image_path("bookworm_icon.jpg")%> alt="アイコン"></a>
        <h1 class="title"><a href="/">BookWorm</a></h1>
      </div>
      <div class="left-bar">
        <nav class="nav">
          <ul class="menu-group">
          <% if user_signed_in? %>
            <li class="menu-item"><%= current_user.nickname %></li>
            <li class="menu-item"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'link-btn' %></li>
          <% else %>
            <li class="menu-item"><%= link_to 'ログイン', new_user_session_path, class: 'link-btn' %></li>
            <li class="menu-item"><%= link_to '新規登録', new_user_registration_path, class: 'link-btn' %></li>
          <% end %>
          </ul>
        </nav>
      </div>
    </header>
  
    <%= yield %>

    <footer>
      <p class="copyright">&copy; 2021 mikiya </p>
    </footer>
  </body>
</html>
